{% extends 'base.html' %}

{% block content %}

<h2 style="text-align:center;">🏆 Leaderboard</h2>

<hr>

{% for user in users %}

<div class="card" style="display:flex; justify-content:space-between; align-items:center;">

    <div>
        <h3>#{{ forloop.counter }} {{ user.username }}</h3>
        <p>🔥 Streak: {{ user.profile.streak }}</p>
        <p>📚 Learned: {{ user.profile.sessions_learned }}</p>
        <p>🎓 Taught: {{ user.profile.sessions_taught }}</p>
    </div>

    <div style="font-size:30px;">
        {% if forloop.counter == 1 %}
            🥇
        {% elif forloop.counter == 2 %}
            🥈
        {% elif forloop.counter == 3 %}
            🥉
        {% endif %}
    </div>

</div>

{% endfor %}

{% endblock %}